<!DOCTYPE html>
<html>
  <head>
    <style>
      h1{
        font-size: 30px;
      }
      img{
        display: block;
        margin-left: 200px;
        margin-right: 200px;
      }
      h2{
        position: fixed;
        top: 0px;
        right: 100px;
        font-size: 30px;
      }
      p{
        margin-right: 0px;
      }
    </style>
    <title>Mozahir's personal Website</title>
    <h1>Mozahir Patwary/ Comp Sci Student</h1>   
    <h2>NYC/Hunter College</h2>
    <body>  
      <img src="https://5a18b93e-20e2-4a11-92d8-77eac5dac70d-00-2ka03e6l6tre0.worf.repl.co/static/nycbanner.jpg.jpg" height="500" width="400">
    <h3>About Me</h3>
      <h3>Resume</h3>
      <h3>Github/Projects</h3>
      <h3>Contact Me</h3>
      <h3>Thanks for visiting! :D</h3>
      <p1>"1% Better Everday"</p1>
    </body>
  </head>
</html>